<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="DotNetZip" version="1.9.3" targetFramework="net451" />
  <package id="Enyim.Caching.Web" version="1.0.0.1" targetFramework="net451" />
  <package id="EnyimMemcached" version="2.11" targetFramework="net451" />
  <package id="Glimpse" version="0.83" targetFramework="net451" />
  <package id="Glimpse.Mvc3" version="0.83" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="MarkerMetro.Unity.Pathfinding.Ionic.Zip" version="2.0.0.14" targetFramework="net451" />
  <package id="Membase" version="2.14" targetFramework="net451" />
</packages>